

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85),rgba(0,0,0,0.85)), url('Capture.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    padding: 0px 10px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(197, 81, 81)
}

.fields {
    display: flex;
    justify-content: center;
    align-self: center;
}

.getInfo {
    height: 30px;
    width: 250px;
    border: black 2px solid;
    background: rgb(197, 81, 81);
    color: white;
}

.grid {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    padding: 10px;
    animation: fade ease-in-out 0.4s forwards ;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}


.items{
    border: solid rgb(197, 81, 81) 2px;
    color: white;
    transition: 0.3s all ease-in;
    background: rgba(0, 0, 0, 0.1);
}

.items:hover {
    color: black ;
    background: rgb(197, 81, 81);
    border: white solid 2px;
}


.items:nth-child(odd) {
    animation: bounce ease-in-out 0.5s forwards ;
}

.items:nth-child(even) {
    animation: bounce1 ease-in-out 0.5s forwards ;
}

.dated {
   grid-row: 3;
   grid-column: 3 / 5;
}


  @keyframes bounce {
    0%{opacity: 0; transform: translateY(15px);}
    50%{opacity: 0.5;}
    100%{opacity: 1; transform: translateY(0px);}
}

@keyframes bounce1 {
    0%{opacity: 0; transform: translateY(-20px);}
    50%{opacity: 0.5;}
    100%{opacity: 1; transform: translateY(0px);}
}